<html>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <Section id="jquery-section">
            <header>
                <h1>Demo App: Score counter</h1>
                <h5>dom manipulation example</h5>
            </header>
            <div>
                <button id="add">Add</button>
                <button id="remove">Remove</button>
            </div>
            <person-score id="personScore" name="jonas" score=80></person-score>
        </Section>

        <script>
            var addButton = document.getElementById('add');
            var removeButton = document.getElementById('remove');
            var personScore =  document.getElementById('personScore');
    
            addButton.addEventListener('click', () => {
                var score = personScore.getAttribute('score');
                personScore.setAttribute('score', ++score);
            })
    
            removeButton.addEventListener('click', () => {
                var score = personScore.getAttribute('score');
                personScore.setAttribute('score', --score);
            })
    
        </script>
        
        <Section ng-app="multi-users-counter" ng-controller="controller" id="angular-section">
            <header>
                <h1>Demo App: Score counter</h1>
                <h5>Angularjs example</h5>
            </header>
            <ul>
                <li ng-repeat="user in users">
                    <button ng-click="delete(user.name)">Delete</button>
                    <button ng-click="addPoint(user.name)">Add point</button>
                    <button ng-click="removePoint(user.name)">Remove point</button>
                    <person-score person-name="{{user.name}}" score="{{user.score}}" ></person-score>
                </li>
            </ul>
        </Section>
    </body>
</html>

<script src='main.bundle.js' ></script>